<div class="d-flex   rounded-3 vh-100 justify-content-center align-items-center">
    <div class="py py-5  bg-light   container w-50 rounded-3">
        <h1 class="text-center py-3 text-black fw-bold  "> Register Now</h1>


    <div *ngIf="error" class="alert alert-danger">
        <p>{{error}}</p>
    </div>
    <form [formGroup]="registerForm" class="text-black p-2 m-auto" (ngSubmit)="submitRegisterForm(registerForm)">

        <!-- firstname -->
        <div class="form-group ">

            <label for="name" class="form-label"> Name</label>
            <input type="text" formControlName="name" id="name" class="form-control" placeholder="">

            <div *ngIf="registerForm.get('name')?.errors != null && registerForm.get('name')?.touched"
                class="alert my-2 alert-danger">
                <p *ngIf="registerForm.get('name')?.errors?.['required']">first name is required</p>
                <p *ngIf="registerForm.get('name')?.errors?.['minlength']">first name is minimum length 3</p>
                <p *ngIf="registerForm.get('name')?.errors?.['maxlength']">first name is maximum length 10</p>
            </div>

        </div>
        <!-- phone  -->
        <div class="form-group">

            <label for="phone" class="form-label">Phone</label>
            <input type="tel" formControlName="phone" id="phone" class="form-control" placeholder="">

            <div *ngIf="registerForm.get('phone')?.errors != null && registerForm.get('phone')?.touched"
                class="alert my-2 alert-danger">
                <p *ngIf="registerForm.get('phone')?.errors?.['required']">Phone is required</p>
            </div>

        </div>
        <!-- email -->
        <div class="form-group">

            <label for="email" class="form-label">Email</label>
            <input type="email" formControlName="email" id="email" class="form-control" placeholder="">

            <div *ngIf="registerForm.get('email')?.errors != null && registerForm.get('email')?.touched"
                class="alert my-2 alert-danger">
                <p *ngIf="registerForm.get('email')?.errors?.['required']">Email is required</p>
                <p *ngIf="registerForm.get('email')?.errors?.['email']">Email is invalid</p>

            </div>

        </div>


        <!-- password -->
        <div class="form-group">

            <label for="password" class="form-label">Password</label>
            <input type="password" formControlName="password" id="password" class="form-control" placeholder="">

            <div *ngIf="registerForm.get('password')?.errors != null && registerForm.get('password')?.touched"
                class="alert my-2 alert-danger">
                <p *ngIf="registerForm.get('password')?.errors?.['required']">Password is required</p>
                <!-- <p *ngIf="registerForm.get('password')?.errors?.['pattern']">Password must start with uppercase letter </p> -->
            </div>

        </div>

        <!-- rePassword -->
        <div class="form-group">

            <label for="rePassword" class="form-label">Re-Password</label>
            <input type="password" formControlName="rePassword" id="rePassword" class="form-control" placeholder="">

            <div *ngIf="registerForm.get('rePassword')?.errors != null && registerForm.get('rePassword')?.touched"
                class="alert my-2 alert-danger">
                <p *ngIf="registerForm.get('rePassword')?.errors?.['required']">rePassword is required</p>
            </div>

        </div>

        <button [disabled]="registerForm.invalid" class="btn btn-info mt-4" type="submit"> Register</button>

    </form>
    </div>
</div>